@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap');

:root {
    --margin: 10%
}

h1 {
    font-family: PT Serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;
}

.topInfo h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.name {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.ocup {
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .topInfo {
        max-width: 90%;
    }

    .crew {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: var(--margin);
    }

    .crew div {
        width: 50%;
    }

    .rigth {
        margin-top: 15%;
    }

    img {
        width: 80%;
        height: auto;
        margin-left: var(--margin);
    }

    .name {
        margin-bottom: 0%;
        margin-left: var(--margin);
        text-align: left;
    }

    .ocup {
        position: relative;
        text-align: left;
        margin: 0px;
        bottom: 50%;
        left: 45%;
        transform: rotate(90deg);
    }

    .rigth .ocup {
        bottom: 60%;
    }
}

@media screen and (min-width: 600px) {.topInfo {
        display: flex;
        align-items: center;
        margin-bottom: var(--margin);
    }

    .topInfo h1 {
        width: 100%;
        text-align: center;
        margin: 0rem 1rem;
    }

    .topInfo  div{
        display: flex;
        flex-direction: column;
    }

    .crew {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .crew div {
        width: 33%;
    }

    .medium {
        margin-top: var(--margin);
    }

    img {
        width: 75%;
    }

    .ocup {
        position: relative;
        text-align: left;
        margin: 0px;
        bottom: 50%;
        left: 41%;
        transform: rotate(90deg);
    }

    .medium .ocup {
        bottom: 60%;
    }
}